{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/13/images",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "b818ee7868b23f25de209842ae1a9545"
          ],
          "X-Memc-Age": [
            "4877"
          ],
          "X-Memc-Expires": [
            "19392"
          ],
          "Etag": [
            "W/\"aad0b20b520820405985b5f35eb1a46f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"backdrops\":[{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/qdIMHd4sEfJSckfVJfKQvisL02a.jpg\",\"vote_average\":5.4,\"vote_count\":16,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":2160,\"iso_639_1\":\"es\",\"file_path\":\"/tNVTWNa8cxZLw7aWvHzSDLyc7ig.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":3840},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":\"pt\",\"file_path\":\"/DpwUG9P2KQt08GVfR8jDAlZo71.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/mzfx54nfDPTUXZOG48u4LaEheDy.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\"[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/13",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "a37de7cd9865441ee9076501bdc653e3"
          ],
          "X-Memc-Age": [
            "4563"
          ],
          "X-Memc-Expires": [
            "23447"
          ],
          "Etag": [
            "W/\"0a50186f17d1ea9012b13ed27b76dd5e\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/qdIMHd4sEfJSckfVJfKQvisL02a.jpg\",\"belongs_to_collection\":null,\"budget\":55000000,\"genres\":[{\"id\":35,\"name\":\"Comedy\"},{\"id\":18,\"name\":\"Drama\"},{\"id\":10749,\"name\":\"Romance\"}],\"homepage\":\"https://www.paramountmovies.com/movies/forrest-gump\",\"id\":13,\"imdb_id\":\"tt0109830\",\"original_language\":\"en\",\"original_title\":\"Forrest Gump\",\"overview\":\"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.\",\"popularity\":89.073,\"poster_path\":\"/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg\",\"production_companies\":[{\"id\":4,\"logo_path\":\"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png\",\"name\":\"Paramount\",\"origin_country\":\"US\"},{\"id\":21920,\"logo_path\":null,\"name\":\"The Steve Tisch Company\",\"origin_country\":\"\"},{\"id\":412,\"logo_path\":null,\"name\":\"Wendy Finerman Productions\",\"origin_country\":\"\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"1994-06-23\",\"revenue\":677387716,\"runtime\":142,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"The world will never be the same once you've seen it through the eyes of Forrest Gump.\",\"title\":\"Forrest Gump\",\"video\":false,\"vote_average\":8.478,\"vote_count\":25211}"
        }
      },
      "recorded_at": "Fri, 25 Aug 2023 22:28:35 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie//images",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS"
          ],
          "X-Memc-Key": [
            "2b770d2405ede392f4b1a914fcbfa5ec"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "25288"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"success\":false,\"status_code\":34,\"status_message\":\"The resource you requested could not be found.\"}"
        }
      },
      "recorded_at": "Fri, 25 Aug 2023 23:29:39 GMT"
    },
[...]
