{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/13/reviews",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f41a60d90b45a95c73662d0acf547b35"
          ],
          "X-Memc-Age": [
            "23188"
          ],
          "X-Memc-Expires": [
            "781"
          ],
          "Etag": [
            "W/\"e3f8919dabf40646d9a158668cc21114\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":13,\"page\":1,\"results\":[{\"author\":\"llgolden\",\"author_details\":{\"name\":\"\",\"username\":\"llgolden\",\"avatar_path\":null,\"rating\":10.0},\"content\":\"Best movie ever.\",\"created_at\":\"2023-07-07T20:58:10.912Z\",\"id\":\"64a87c626a3448014d30cce4\",\"updated_at\":\"2023-07-14T15:11:55.389Z\",\"url\":\"https://www.themoviedb.org/review/64a87c626a3448014d30cce4\"},{\"author\":\"bluedevil667\",\"author_details\":{\"name\":\"\",\"username\":\"bluedevil667\",\"avatar_path\":null,\"rating\":10.0},\"content\":\"This is the best movie ever!\",\"created_at\":\"2023-07-07T20:59:05.017Z\",\"id\":\"64a87c989c97bd01390b8ba9\",\"updated_at\":\"2023-07-14T15:11:56.607Z\",\"url\":\"https://www.themoviedb.org/review/64a87c989c97bd01390b8ba9\"}],\"total_pages\":1,\"total_results\":2}"
        }
      },
      "recorded_at": "Fri, 25 Aug 2023 16:56:22 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}