<div class="user-dash-top">
  <h2><%= @user.name %>'s Dashboard</h2>
  <button>
    <%= link_to 'Discover Movies', user_discover_index_path(@user) %>
  </button>
</div>

<div class="user-dash-parties-container">
  <h4>Upcoming Viewing Parties &#127902;&#65039; &#127909; &#129395;</h4>
</div>