#title {
  text-align: center;
}

#nav-bar {
  margin-top: 20px;
  margin-left: 10px;
}

#nav-bar a {
  padding: 3px 10px;
  background-color: #AB92BF;
  color: white;
  border-radius: 15px;
  text-decoration: none;
}

#nav-bar a:hover {
  background-color: #9a79b5;
  transition: background-color 0.2s ease-in-out;
}
  
.user-dash-top, #search-movies, .discover-movies, .movie-results-top {
  text-align: center;
  margin-bottom: 40px;
}

.user-dash-top button, .discover-movies button {
 margin: 20px 0px;
}

.user-dash-top a, .discover-movies a {
  color: black;
  text-decoration: none;
}
  
.user-dash-parties-container h4 {
  text-align: center;
  border-bottom: 1px solid black;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}

.movies-container {
  width: 40%;
  margin: auto;
}

.movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

