.user-dash-top {
  text-align: center;
  margin-bottom: 40px;
}

.user-dash-top button {
 margin: 20px 0px;
}

.user-dash-top a {
  color: black;
  text-decoration: none;
}
.user-dash-parties-container h4 {
  text-align: center;
  border-bottom: 1px solid black;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}