{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/13/images",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "b818ee7868b23f25de209842ae1a9545"
          ],
          "X-Memc-Age": [
            "4877"
          ],
          "X-Memc-Expires": [
            "19392"
          ],
          "Etag": [
            "W/\"aad0b20b520820405985b5f35eb1a46f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"backdrops\":[{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/qdIMHd4sEfJSckfVJfKQvisL02a.jpg\",\"vote_average\":5.4,\"vote_count\":16,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":2160,\"iso_639_1\":\"es\",\"file_path\":\"/tNVTWNa8cxZLw7aWvHzSDLyc7ig.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":3840},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":\"pt\",\"file_path\":\"/DpwUG9P2KQt08GVfR8jDAlZo71.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/mzfx54nfDPTUXZOG48u4LaEheDy.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\"[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie//images",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS"
          ],
          "X-Memc-Key": [
            "2b770d2405ede392f4b1a914fcbfa5ec"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "25288"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"success\":false,\"status_code\":34,\"status_message\":\"The resource you requested could not be found.\"}"
        }
      },
      "recorded_at": "Fri, 25 Aug 2023 23:29:39 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}