{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?query=clueless",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "32d2d55147faeb208ed56d4435943b64"
          ],
          "X-Memc-Age": [
            "10012"
          ],
          "X-Memc-Expires": [
            "18114"
          ],
          "Etag": [
            "W/\"dc460b495577185116fcb7f5919f12c1\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/2FonLz0RPxbBriOlZ9mWhYdlqCp.jpg\",\"genre_ids\":[35,10749],\"id\":9603,\"original_language\":\"en\",\"original_title\":\"Clueless\",\"overview\":\"Shallow, rich and socially successful Cher is at the top of her Beverly Hills high school's pecking scale. Seeing herself as a matchmaker, Cher first coaxes two teachers into dating each other. Emboldened by her success, she decides to give hopelessly klutzy new student Tai a makeover. When Tai becomes more popular than she is, Cher realizes that her disapproving ex-stepbrother was right about how misguided she was -- and falls for him.\",\"popularity\":35.065,\"poster_path\":\"/8AwVTcgpTnmeOs4TdTWqcFDXEsA.jpg\",\"release_date\":\"1995-07-19\",\"title\":\"Clueless\",\"video\":false,\"vote_average\":7.278,\"vote_count\":3974},{\"adult\":false,\"backdrop_path\":null,\"genre_ids\":[],\"id\":556767,\"original_language\":\"en\",\"original_title\":\"Clueless\",\"overview\":\"A remake of the 1995 film.\",\"popularity\":0.6,\"poster_path\":null,\"release_date\":\"\",\"title\":\"Clueless\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0},{\"adult\":false,\"backdrop_path\":\"/oRLTORPsK43SfQvLpaLLghmKdhf.jpg\",\"genre_ids\":[9648,53,18],\"id\":939992,\"original_language\":\"en\",\"original_title\":\"Clueless\",\"ov[...]
[...]
