{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?query=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "0ad04c4a8f86817194f97d0815bf2d05"
          ],
          "X-Memc-Age": [
            "9539"
          ],
          "X-Memc-Expires": [
            "12062"
          ],
          "Etag": [
            "W/\"0e23279b004381f72a34159d5c7dfd1f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[],\"total_pages\":1,\"total_results\":0}"
        }
      },
      "recorded_at": "Thu, 24 Aug 2023 23:19:18 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?query=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "DONT_SHARE_MY_TMDB_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "0ad04c4a8f86817194f97d0815bf2d05"
          ],
          "X-Memc-Age": [
            "9539"
          ],
          "X-Memc-Expires": [
            "12062"
          ],
          "Etag": [
            "W/\"0e23279b004381f72a34159d5c7dfd1f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[],\"total_pages\":1,\"total_results\":0}"
        }
      },
      "recorded_at": "Thu, 24 Aug 2023 23:19:18 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}